<div id="<%= dom_id project %>">
   <h1 align="center"><%= project.name %></h1> 

   <h1 align="center"><%= project.description %></h1> 
  <br><br>

</div>
<style>
  .one{
    margin-left: 650px;
  }
</style>